.hola {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}


.hola img {
    width: 150px;
    border: 4px solid #8B4513;
    cursor: pointer;
    transition: 0.3s;
}

.hola img:hover {
    transform: scale(1.05);
}

.titulo2 {
    background-color: #f5deb3;
    padding: 15px;
    border: 3px solid #8B4513;
    text-align: center;
    font-family: Georgia, serif;
    width: fit-content;
    margin: 20px auto;
}
.descripcion {
    background-color: #f5deb3;
    padding: 15px;
    border: 3px solid #8B4513;
    text-align: center;
    font-family: Georgia, serif;
    width: fit-content;
    color: black;
}

h1 {
    text-align: center;
    font-family: "Playbill";
    font-size: 70px;
    color: rgb(80, 44, 12);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2b48c;
    font-family: Georgia, serif;
}

.ventana {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.contenido {
    background-color: #f5deb3;
    width: 70%;
    margin: 8% auto;
    padding: 20px;
    border: 4px solid #8B4513;
}

.cerrar {
    float: right;
    font-size: 40px;
    cursor: pointer;
    color: black;
}

.info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.info img {
    width: 250px;
    border: 4px solid #8B4513;
}

.texto {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("../src/assets/imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedor {
    background-color: #f5deb3;
    padding: 30px;
    border: 4px solid #8B4513;
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #8B4513;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #5c3317;
}
.btn-login {
    display: block;
    margin: 15px auto;
}
.paginacion {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}